@import '~@fortawesome/fontawesome-free/css/all.css';

/* @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  font-family: 'Pacifico', cursive;
} */
/* @font-face {
  font-family: 'SharpGroteskBold11-Regular';
  src: url('assets/fonts/SharpGroteskBold11-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */


  /* display: inline-block;
  transform: scaleY(1.5);
  font-weight: 900; */


/* body {
  font-family: 'SharpGroteskBold11-Regular', sans-serif;
  letter-spacing: 3px;
} */
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Montserrat:wght@600;900&family=Pacifico&family=Roboto:wght@900&display=swap'); */

/* body {
  font-family: 'SharpGroteskBold11-Regular', sans-serif;
} */

