<!-- <footer>
  <div class="footer-container">
    <div class="row m-5">
      <div class="col-md-4 my-auto logo=footer">
        <img src="assets/logo.png" class="img-fluid footer-img" alt="...">
      </div>
      <div class="col-md-4 mx-auto">
        <h3 class="text-footer-col">Location</h3>
        <div>
          <p class="text-dark"> Brunnenmarkt / Yppenplatz,
            <br>
            in front of Brunnengasse 70-72, 1160, Vienna, Austria
          </p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2657.018273218131!2d16.33810501597977!3d48.21452657923394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d07b8e62f2c4d%3A0x408a7358f0035fa5!2sBrunnengasse%2070-72%2C%201160%20Wien!5e0!3m2!1sen!2sat!4v1649073466497!5m2!1sen!2sat" width="100%" height="200" style="border: 1px solid whitesmoke; box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px; border-radius: 1rem;" allowfullscreen="" loading="lazy"></iframe>
          <p>Click <a href="https://www.google.com/maps/place/Brunnengasse+70,+1160+Wien/@48.213568,16.336868,15z/data=!4m6!3m5!1s0x476d07e7c64a5ec1:0xec614239c2646704!8m2!3d48.2135677!4d16.336868!16s%2Fg%2F11c2h2mc50?hl=en">here</a> to see the location on the map.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="col-md-12 mx-auto text-nowrap">
          <h3>Garbanzo Online</h3>
          <ul>
            <li><a class="text-info" href="#">Catering Services</a></li>
            <li><a href="#">Order Online</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">About Us</a></li>
            <li><a routerLink="login">Admin</a></li>
            <li><a href="#">Jobs</a></li>
          </ul>
        </div>
        <div class="col-md-12 mx-auto text-nowrap">
          <h3>Marketing</h3>
          <ul>
            <li><a href="#">For all Press & Media enquiries, <br> please email pr@garbanzo.wien</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom pb-2">
    <div class="row text-center">
        <ul class="list-inline social-icons">
          <li class="list-inline-item"><a href="#"><i class="fa-brands text-dark fa-xl fa-facebook"></i></a></li>
          &nbsp;
          <li class="list-inline-item"><a href="#"><i class="fa-brands text-dark fa-xl fa-twitter"></i></a></li>
          &nbsp;
          <li class="list-inline-item"><a href="#"><i class="fa-brands text-dark fa-xl fa-instagram"></i></a></li>
        </ul>
    </div>
  </div>
</footer> -->

<footer>
  <div class="container mt-5">
    <div class="row text-center">
      <div class="col-md-4">
        <h3>Location</h3>
        <p class="text-dark">Brunnenmarkt / Yppenplatz,<br>in front of Brunnengasse 70-72, 1160, Vienna, Austria</p>
        <p class="text-dark">Click <a class="text-warning" href="https://www.google.com/maps/place/Brunnengasse+70,+1160+Wien/@48.213568,16.336868,15z/data=!4m6!3m5!1s0x476d07e7c64a5ec1:0xec614239c2646704!8m2!3d48.2135677!4d16.336868!16s%2Fg%2F11c2h2mc50?hl=en">here</a> to see the location on the map.</p>
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2657.018273218131!2d16.33810501597977!3d48.21452657923394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d07b8e62f2c4d%3A0x408a7358f0035fa5!2sBrunnengasse%2070-72%2C%201160%20Wien!5e0!3m2!1sen!2sat!4v1649073466497!5m2!1sen!2sat" width="100%" height="200" frameborder="0" style="border:0;" allowfullscreen="" loading="lazy"></iframe> -->
      </div>
      <div class="col-md-4">
        <h3>Garbanzo Online</h3>
        <ul class="list-unstyled">
          <li><a class="text-info" href="#">Catering Services</a></li>
          <li><a href="#">Order Online</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">About Us</a></li>
          <li><a routerLink="login">Admin</a></li>
          <li><a href="#">Jobs</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>Marketing</h3>
        <ul class="list-unstyled">
          <li><a href="#">For all Press & Media enquiries, please email pr@garbanzo.wien</a></li>
        </ul>
        <img src="assets/logo.png" class="img-fluid footer-img" alt="...">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="list-inline social-icons">
          <li class="list-inline-item"><a href="#"><i class="fa-brands fa-xl fa-facebook"></i></a></li>
          &nbsp;
          <li class="list-inline-item"><a href="#"><i class="fa-brands fa-xl fa-twitter"></i></a></li>
          &nbsp;
          <li class="list-inline-item"><a href="#"><i class="fa-brands fa-xl fa-instagram"></i></a></li>
        </ul>
        <p class="mt-2">&copy; 2023 Garbanzo Online. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
