footer {
  background-color: whitesmoke;
}

footer a {
  color: black;
  text-decoration: unset;
}

footer ul {
  list-style: none;
  margin: 0 0 .75rem;
  padding: 0;
}

footer h3 {
  margin: 1.5rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f0ad4e;
  color: black;
  font-size: 1rem;
  text-transform: uppercase;
}

footer li {
  font-size: .875rem;
}

footer li {
  list-style: none;
}

p {
  font-size: 0.875rem;
}

.text-catering-footer {
  color: #bdd333;
}

footer h3 {
  font-size: 0.9rem;
  font-weight: 600;
}

.footer-img {
  height: 6rem;
  width: auto;
}

@media (min-width: 991px) {
  .footer-img {
    height: 4rem;
    width: auto;
  }
}
