<div class="container pt-5 container-catering">
  <div class="row">
    <div class="col-md-12 bg-light">
      <button class="btn btn-sm btn-home mt-3 mb-3" routerLink="/home">
        <i class="fa-solid fa-sm fa-arrow-left"></i>
        <strong>&nbsp; Home</strong>
      </button>
      <h2 class="mb-4 text-center">Garbanzo Catering Services</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">SERVICE</th>
            <th scope="col">DETAILS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Pickup</th>
            <td>
              Let us know when you want to pick up your order and we’ll have it ready to pack up when you arrive. If you’re traveling a long distance, or aren’t serving immediately, we offer thermal packaging to keep everything fresh and hot a while longer.
              <br>
              <button class="btn btn-demo rounded-pill btn-info mt-3" routerLink="/form">Place Catering Order&nbsp;
                <i class="fa-solid fa-arrow-right"></i>
              </button>
              <br><br>
              Please note that on particularly busy days, we may not have the specific pickup time you want. Be assured that we will do our best to accommodate your needs.
            </td>
          </tr>
          <tr>
            <th scope="row">Drop-Off Delivery</th>
            <td>
              Let Garbanzo bring the food to you with our drop-off delivery. Our €50 delivery service includes thermal packaging, buffet setup, and delivery within a 10-km radius. Additional mileage is €0.50 per km each way.
              <br><br>
              Catering delivery is subject to the availability of drivers. We may not be able to accommodate all delivery requests or last-minute schedule changes.
            </td>
          </tr>
          <tr>
            <th scope="row">Event Staffing*</th>
            <td>
              For the ultimate Garbanzo experience at your home, office, or other venue. We offer on-site services. Including buffet management and replenishment. On-site services are subject to availability.
              <br><br>
              *Gratuity not included
            </td>
          </tr>
          <tr>
            <th scope="row">Individually Boxed Meals</th>
            <td>
              Our safely packaged boxed meals include hummus, coleslaw salad, tabbouleh salad & pickles, along with dips, wooden cutlery and napkins. Minimum orders apply.
              <br><br>
              *Prices are subject to change. We may not be able to accommodate all orders or changes made less than 48 hours in advance.
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
