.title-separator {
  display: block;
  margin: 0 auto;
  width: 3.75rem;
  border: 1px solid #f0ad4e;
  background-color: #f0ad4e;
}

tbody, td, tfoot, th, thead, tr {
  border-color: #f0ad4e;
}

.btn-demo {
  font-weight: 600;
  font-size: small;
  /* border: 1px solid grey; */
}

.btn-home {
  border: 1px solid lightgrey;
  font-size: small;
  font-weight: 400;
}

.container-catering {
  margin-top: 7rem;
}
