.title-separator {
  display: block;
  margin: 0 auto;
  width: 3.75rem;
  border: 1px solid #f0ad4e;
  background-color: #f0ad4e;
}

tbody, td, tfoot, th, thead, tr {
  border-color: #f0ad4e;
}

.btn-demo {
  font-weight: 600;
  font-size: small;
  color: #bdd333;
  border: 2px solid #bdd333;
}

.btn-demo:hover {
  color: orange;
  background-color: black;
  border:2px solid orange;
}

.btn-home {
  border: 1px solid grey;
  font-size: small;
  font-weight: 400;
}

.btn-home:hover {
  color: orange;
  border:1px solid orange;
}

.container-catering {
  margin-top: 7rem;
}

.title-separator {
  display: block;
  margin: 0 auto;
  width: 100%;
  border: 1px solid #f0ad4e;
  background-color: #f0ad4e;
}
