<div class="container container-about p-3">
  <button class="btn btn-sm btn-home" routerLink="/home">
    <i class="fa fa-home" aria-hidden="true"></i>
    <strong>&nbsp; Home</strong>
  </button>
  <div class="container">
    <div class="row">
      <div class="col-md-6 my-auto">
        <img src="assets/logo.png" class="img-fluid" alt="...">
      </div>
      <div class="col-md-6 my-auto text-center">
        <h1>Who We Are</h1>
        <p>Garbanzo means chickpeas in Spanish (a.k.a. garbanzo beans in English). We serve vegetarian and vegan chickpea-based dishes inspired by Mediterranean and Middle-Eastern cuisines.</p>
        <p>Since 2017, when we opened our street-food kitchen in Brunnenmarkt / Yppenplatz, Vienna, we remain committed to cooking from scratch and making every meal to order. Initially we dished up homemade Hummus, Falafel, and Za’atar Fries.</p>
        <p>Recently we introduced ingenious eats like Black Beans Falafel, Cauliflower Shawarma, and Halloumi Fries.</p>
        <p>Lastly but not least, we are a family run business.</p>
        <span class="title-separator mt-3"></span>
      </div>
    </div>
  </div>
</div>
