.card {
  border: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.card-header {
  border: whitesmoke;
  color: grey;
}

.btn-form {
  border: none;
}

input {
  color: grey;
}

.btn-home {
  border: 1px solid grey;
  font-size: small;
  font-weight: 400;
}

.btn-home:hover {
  color: orange;
  border:1px solid orange;
}

.container-form {
  margin-top: 7rem;
}
