.card {
  border: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.card-header {
  border: whitesmoke;
  color: grey;
}

.btn-form {
  /* background-color: #bdd333; */
  border: none;
}

input {
  color: grey;
}

.btn-home {
  border: 1px solid lightgrey;
}

.container-form {
  margin-top: 7rem;
}
