<header class="mb-5">
  <nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
    <div class="container nav-container px-xs-5 px-xl-15px align-items-center">
      <a class="navbar-brand navbar-custom">
        <img class="logo" src="assets/logo.png" routerLink="home" height="36">
      </a>
      <a class="d-lg-none" href="https://www.mjam.net/en/restaurant/nxoz/garbanzo-falafel-and-hummus-bar">
        <button class="btn btn-order rounded-pill" [ngClass]="{'pulse': isPulsing}" (click)="togglePulsing()">
          <strong>Order online</strong>
        </button>
      </a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        [ngClass]="{'collapsed': isCollapsed}" (click)="toggleCollapse()">
        <span class="fa fa-lg menu-icon" [ngClass]="{'fa-bars': isCollapsed, 'fa-times': !isCollapsed, 'open': !isCollapsed}"></span>
      </button>
      <div class="collapse navbar-collapse navbar-collapse-bottom flex-grow-0 text-center align-content-end"
        id="navbarSupportedContent" [ngbCollapse]="isCollapsed" [class.pb-3]="!isCollapsed">
        <li class="nav-item dropdown-li mx-3">
          <a class="nav-link text-uppercase text-info" routerLink="catering-page">
            <strong>Catering Services</strong>
          </a>
        </li>
        <li class="nav-item dropdown-li location-li mx-3">
          <a class="nav-link" routerLink="location" id="navbarDropdown">
            <strong>Location</strong>
          </a>
        </li>
        <li class="nav-item dropdown-li mx-2">
          <a class="nav-link" routerLink="/about">
            <strong>About Us</strong>
          </a>
        </li>
        <li class="nav-item dropdown-li mx-3 jobs-nav">
          <a class="nav-link" routerLink="/jobs">
            <strong>Jobs</strong>
          </a>
        </li>
        <ul class="navbar-nav d-none d-lg-block">
          <li class="nav-item">
            <a class="nav-link order" href="https://www.mjam.net/en/restaurant/nxoz/garbanzo-falafel-and-hummus-bar">
              <button class="btn btn-order rounded-pill" [ngClass]="{'pulse': isPulsing}" (click)="togglePulsing()">
                <strong>Order online</strong>
              </button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
