.logo {
  width: 3.5rem;
  height: auto;
}

.navbar-custom {
  padding: 0;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  margin-right: 0;
}

.dropdown-li {
  list-style-type: none;
}

.btn-order {
  /* background-color: #bdd333; */
  background-color: #bdd333;
}

/* .btn-order:hover {
  border-bottom: unset;
} */

/* header {
  border-bottom: 1px solid whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
} */

.menu-icon {
  transition: transform 0.3s ease;
}

.menu-icon.open {
  transform: rotate(90deg);
}

.navbar-toggler {
  border: none;
  color: #bdd333;
  font-size: x-large;
}

/* .navbar-toggler-icon {
  border: none;
  color: #bdd333;
  font-size: x-large;
} */

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* .pulse {
  animation: pulse 3s infinite;
} */

.navbar-toggler:focus {
  outline: none;
  box-shadow: none !important;
}

.navbar-toggler .fa-times {
  font-size: 2.7rem;
  display: flex;
}

.nav-link {
  border-bottom: 2px solid transparent;
  padding-bottom: 1px;
}

.nav-link.active {
  /* border-bottom-color: #f08b18; */
  /* color: #f08b18; */
  opacity: 60%;
}


/* @media (max-width: 991px) {
  .nav-link {
    border-bottom: unset;
  }
} */

  /* .container-custom {
    background-color: #f08b18;
  } */

.signup-bar-message {
  font-size: 26px;
  line-height: 1;
  font-size: 2vw
  /* font-family: 'SharpGroteskBold11'; */
}

.btn-signup {
  border-color: transparent;
  border-radius: 0;
}

.form-control {
  border-radius: 0;
  margin-left: 1rem;
  border: none;
  font-size: 13px;
}

@media (max-width: 991.98px) {
  .navbar-collapse .dropdown-li .nav-link {
    margin-top: 0.5rem;
  }
}
