<div class="container p-4">
  <button class="btn btn-sm btn-home mt-2 mb-3" routerLink="/home">
    <i class="fa-solid fa-sm fa-arrow-left"></i>
    <strong>&nbsp; Home</strong>
  </button>
  <h2>DO YOU HAVE WHAT IT TAKES?</h2>
  <p>Garbanzo is adding three part-time positions.</p>
  <p>Do you consider yourself a people-loving, fast-learning, energetic, detail-oriented, all-around team player who needs a new job?</p>
  <p>Are you able to stand and move for a 5-hour shift even when it’s 40+ degrees while keeping a cool head and a positive attitude? Can you bend and lift up to 20 kg.? Are you available to work Saturdays?</p>
  <p>Restaurant experience is preferred, but if you have the above qualifications, we are willing to train you from the ground up! You will be trained to work in all the areas of our street food market stand: customer service, dish washing and cleaning, opening and closing, food production, barista and line cook.</p>
  <p>At Garbanzo, we believe many businesses’ bad behaviour disproportionately hurt most marginalised people in our society, including BIPOC and LGBTQ+ people. Hence, we strive to provide an inclusive, safe and supportive workspace for people with these identities and encourage them to apply with us.</p>
  <span class="title-separator mt-3"></span>
  <p>We offer:</p>
  <ul>
    <li>Balanced schedule with the same two days off in a row every week</li>
    <li>Staff Meals</li>
    <li>Like-minded co-workers</li>
    <li>Dedicated to promoting from within our ranks</li>
    <li>€11/hr to start + equal tip split</li>
  </ul>
  <h3>Summary of Position:</h3>
  <ul>
    <li>Hours will range from 20-30/wk based on performance and dependability</li>
    <li>Must be available to be scheduled for shifts between the hours of 7am-6pm Tuesday through Saturday. Weekend availability is mandatory.</li>
  </ul>
  <p>Responsible for food assembly functions including:</p>
  <ul>
    <li>Preparing customer orders</li>
    <li>Plating or bagging orders</li>
    <li>Ensuring food quality is up to Garbanzo standards</li>
    <li>Sanitation practices and cleanliness of kitchen</li>
    <li>Timely and accurate assembly of customer orders</li>
    <li>Other tasks as assigned by the Line Supervisor</li>
  </ul>
  <h3>Qualifications:</h3>
  <ul>
    <li>Must be able to communicate clearly and effectively in German and/or English</li>
    <li>Be able to lift up to 25 kg.</li>
    <li>Be able to work in a standing position for long periods of time</li>
    <li>Must be dependable</li>
  </ul>
  <p>Street Food Kitchen located in Brunnenmarkt / Yppenplatz</p>
  <p>Interested in joining our family? Then send us your resume to <strong>jobs@garbanzo.wien</strong>. Please don’t just attach a CV and hit send. Introduce yourself!</p>
  <p>As owners, we are in the store every day working hard alongside you. The truth is, we spend a lot of time together and we make more than the best of it - we commit to the love of it.</p>
</div>
